<div class="container">

<button ng-click='fetchAllCards()' class="btn btn-default" >Fetch Cards</button>

<ul>
    <li ng-repeat="card in allCards">
        <input type="radio" name="card" ng-click="fetchTemplateInfo(card)">
            {{card.shortDescription}}
        </input>
        
        <button type="button" class="btn btn-danger" ng-click="deleteCardTemplate(card)">
            Delete
        </button>
    </li>
</ul>
<hr />


<!--<textarea name="card" rows="8" cols="150">
    {{templateDetails}}
</textarea>-->

<ng-form ng-show="templateDetails">
    <label for="active">active</label>
    <input type="text" id="active" value="active" placeholder="active" ng-model="templateDetails.active" /> <br/>
    
    <label for="appKey">appKey</label>
    <input type="text" id="appKey" value="appKey" placeholder="appKey" ng-model="templateDetails.appKey" /> <br/>
    
    <label for="cardTemplateId">cardTemplateId</label>
    <input type="text" id="cardTemplateId" value="cardTemplateId" placeholder="cardTemplateId" ng-model="templateDetails.cardTemplateId" /> <br/>
    
    <label for="cardType">cardType</label>
    <input type="text" id="cardType" value="cardType" placeholder="cardType" ng-model="templateDetails.cardType" /> <br/>
    
    <label for="currency">currency</label>
    <input type="text" id="currency" value="currency" placeholder="currency" ng-model="templateDetails.currency" /> <br/>
    
    <label for="description">description</label>
    <input type="text" id="description" value="description" placeholder="description" ng-model="templateDetails.description" /> <br/>
    
    <label for="designer">designer</label>
    <input type="text" id="designer" value="designer" placeholder="designer" ng-model="templateDetails.designer" /> <br/>
    
    <label for="designerId">designerId</label>
    <input type="text" id="designerId" value="designerId" placeholder="designerId" ng-model="templateDetails.designerId" /> <br/>
    
    <label for="rating">rating</label>
    <input type="text" id="rating" value="rating" placeholder="rating" ng-model="templateDetails.rating" /> <br/>
    
    <label for="retailPrice">retailPrice</label>
    <input type="text" id="retailPrice" value="retailPrice" placeholder="retailPrice" ng-model="templateDetails.retailPrice" /> <br/>
    
    <label for="sceneThumbnails">sceneThumbnails</label>
    <input type="text" id="sceneThumbnails" value="sceneThumbnails" placeholder="sceneThumbnails" ng-model="templateDetails.sceneThumbnails" /> <br/>
    
    <label for="shortDescription">shortDescription</label>
    <input type="text" id="shortDescription" value="shortDescription" placeholder="shortDescription" ng-model="templateDetails.shortDescription" /> <br/>
    
    <label for="shortTitle">shortTitle</label>
    <input type="text" id="shortTitle" value="shortTitle" placeholder="shortTitle" ng-model="templateDetails.shortTitle" /> <br/>
    
    <label for="status">status</label>
    <input type="text" id="status" value="status" placeholder="status" ng-model="templateDetails.status" /> <br/>
    
    <label for="tags">tags</label>
    <input type="text" id="tags" value="tags" placeholder="tags" ng-model="templateDetails.tags" /> <br/>
    
    <label for="thumbnail">thumbnail</label>
    <input type="text" id="thumbnail" value="thumbnail" placeholder="thumbnail" ng-model="templateDetails.thumbnail" /> <br/>
    
    <label for="title">title</label>
    <input type="text" id="title" value="title" placeholder="title" ng-model="templateDetails.title" /> <br/>
</ng-form> 

<br />
<button ng-click='saveCard()' class="btn btn-default">Save</button>


</div>